.mainContainer {
  display: flex;
  height: 100vh;
}

.toolbar {
  justify-self: flex-end;
  margin-left: auto;

  display: flex;
  align-items: stretch;

  writing-mode: vertical-lr;

  background-color: #515151;
  border-left: #363636;
  border-left-width: 1px;

  padding-top: 0.5rem;
}
